$yellow: #f4d35e;
$wine: #da4167;
$white: #ffffff;

// $dark-bg: #263652;
$dark-bg: #2e4057;
$dark-card-bg: #32476b;
$dark-menu-bg: #385078;

$light-bg: #d4d4d4;
$light-card-bg: #ffffff;
$light-menu-bg: #eeeeee;
